

<!--The content below is only a placeholder and can be replaced.-->
<h2>Commerce Manager</h2>
<div style="text-align:center">
    {{ error }}
    {{ product }}
    <a [routerLink]="['/all']" >Home</a>
    <h4 style="color: red;">{{ error }}</h4>
    <h2>Let's eat! :</h2>
    <p>Reviews for {{ rest.name }}</p>

    <h2 class="box">Name</h2>
    <h3 class="box">{{ rest.name }}</h3>
    <h2 class="box">Qty</h2>
    <h3 class="box">{{ rest.quantity }}</h3>
    <h2 class="box">Price</h2>
    <h3 class="box">{{ rest.price }}</h3><br>
    <button [routerLink]="['/']" >RESET</button>
    <p *ngIf="(rest.quantity == 0)"><button (click)="deleteByID(rest._id)">DELETE</button></p>
    
  </div>
  <router-outlet></router-outlet> 
  