<!--The content below is only a placeholder and can be replaced.-->

<h1>Commerce Manager</h1>

<div style="text-align:center">
  <h2>Welcome to Product List! </h2>
  <button [routerLink]="['/add']" >Add a new Product</button>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.manage_id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }} </td>
      <td>{{ product.price }}</td>
      <td> 
        <button [routerLink]="['/edit/', product._id , product.name]">Edit</button> 
        <button [routerLink]="['/details/', product._id , product.name]">Details</button>
      
        <!-- <p *ngIf="(mov.createdAt )"> <button (click)="deleteByID(mov._id)">DELETE</button></p> -->
      </td>
    </tr>

  </table>



<router-outlet></router-outlet> 
